*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa ;

}

.container{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #c3cfe2;
    border-radius: 20px;
    overflow-y: scroll;
}


input{
    width: 300px;
    height: 40px;
    border: 2px solid #c3cfe2;
    border-radius: 5px;
    outline: none;
    margin: 5px;
    letter-spacing: 1px;
    text-align: center;
}

#product-1, #paymet-type, .product-select{
    width: 150px;
    height: 40px;
    border: 2px solid #c3cfe2;
    border-radius: 5px;
    outline: none;
    margin: 5px;
    letter-spacing: 1px;
    text-align: center;
}

.send-btn{
    width: 200px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: none;

    font-size: 14px;
    font-family: 'Courier New';

}

.add-product, .remove-btn{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    outline: none;
    border-radius: 10px;
    border: 2px solid black;

    font-size: 24px;
    font-weight: 900;
    font-family: 'Courier New';
    cursor: pointer;
}

.product-space{
    display: flex;
    align-items: center;
}



/* Bu Agent qo'shish html ning stillari */

.aganet-container{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    border: 2px solid black;
    border-radius: 10px;
}

.aganet-container input{
    width: 250px;
    background-color: rgb(41, 136, 226);
    border-color: black;

    font-size: 16px;
    color: black;
    border-radius: 10px;
    
}

.aganet-container input::placeholder{
    color: black;
}

.add-user{
    width: 150px;
    height: 40px;
    background-color: rgba(23, 216, 23, 0.929);

    border: 2px solid black;
    outline: none;
    border-radius: 10px;

}

/* Maxsulot qo'shish html file stillari */

.goods-container{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    border: 2px solid black;
    border-radius: 10px;
}

.goods-container input{
    width: 150px;
    height: 40px;
    background-color: rgba(237, 245, 97, 0.929);

    border: 2px solid black;
    outline: none;
    border-radius: 10px;
}

.add-goods{
    width: 150px;
    height: 40px;
    background-color: rgba(23, 216, 23, 0.929);

    border: 2px solid black;
    outline: none;
    border-radius: 10px;
}

.goods-container input::placeholder{
    color: black;
}

.buttons-area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0 auto;
}

.buttons-area button{
    width: 150px;
    height: 40px;
    background-color: #a9e647ed;

    border: 2px solid black;
    outline: none;
    border-radius: 10px;

    margin: 10px;
}